* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Cursed;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    min-width: 375px;
    padding: 0.5em;
    font-family: Cursed;
    color: #FFFF;
    background: #19244d;
}

.header-main {
    color: #f8506c;
    font-size: 1.75rem;
    text-align: center;
}

.container {
    margin-top: 1em;
    padding: 1em 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.header-3 {
    font-size: 1.6rem;
    text-align: center;
    padding: 0.35em;
}

.home-score {
    border-radius: 6px;
    background: #000000;
}

.guest-score {
    border-radius: 6px;
    background: #000000;
}

#score-value-1, #score-value-2 {
    font-family: Cursed;
    padding: 0.15em 0;
    font-size: 4rem;
    text-align: center;
    color: #f8506c;   
}

.plus-one, .plus-two, .plus-three  {
    color: #8794ba;
    font-size: 1rem;
    padding: 1em 0.75em;
    background-color: #18254c;
    border: 1px solid #8794ba;
    border-radius: 6px;
    font-family: Cursed;
}

.plus-one:hover, .plus-two:hover, .plus-three:hover {
    background-color: #f8506c;
    transition: 0.2s ease-in-out;
}

.three-btns{
    padding: 1em 0;
}

.new-game,.new-game-2 {
    color: #8794ba;
    font-family: Cursed;
    font-size: 1rem;
    background-color: #18254c;
    border: 1px solid #8794ba;
    border-radius: 3px;
    padding: 1em 1.5em;
}

.new-game:hover, .new-game-2:hover {
    background-color: #f8506c;
    transition: 0.3s ease-in-out;
}

.btn {
    display: none;
}

/* Media Queries */

/* xs */
@media (min-width: 475px) {

   .container {
        margin-top: 1.75em;
   }

   #score-value-1, #score-value-2 {
        font-size: 4.25rem;
   }

   .plus-one, .plus-two, .plus-three {
        font-size: 1.2rem;
   }

   .new-game {
    font-size: 1.2rem;
   }
}

/* sm */
@media (min-width: 640px) {
   .header-main {
        font-size: 2.5rem;
   } 

   .container {
        margin: 0 auto;
        width: 100%;
        height: 300px;
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        flex-direction: row;
   }

   .three-btns {
        display: flex;
        justify-content: space-around;
        gap: 1em;
   }

   .header-3 {
        font-size: 2rem;
   }

   #score-value-1, #score-value-2 {
        font-size: 4.75rem;
   }

   .plus-one, .plus-two, .plus-three {
        font-size: 1.35rem;
   }

   .new-game {
        display: none;
   }

   .btn {
        display: flex;
        justify-content: center;
   }

   .new-game-2 {
        font-size: 1.35rem;
   }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
